<footer class="container g-pt-80 g-pb-40">
  <div class="row justify-content-between">
    <div class="col-lg-3 g-mb-30">
      <a class="d-inline-block mb-3" href="/">

      </a>

      <p class="g-color-gray-dark-v4 g-font-size-12 mb-0">© 2022 BluuKazi LMS.
        <br>All Rights Reserved.</p>
    </div>

    <div class="col-sm-6 col-lg-2 ml-auto g-mb-30">
      <h3 class="h6 g-color-black g-font-weight-600 text-uppercase mb-4">Quick Links</h3>

      <!-- Links -->
      <ul class="list-unstyled g-color-gray-dark-v4 g-font-size-13 mb-0">
        <li class="my-2"><i class="mr-2 fa fa-angle-right"></i>
          <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="/about">About Us</a>
        </li>
        <li class="my-2"><i class="mr-2 fa fa-angle-right"></i>
          <a class="u-link-v5 g-color-gray-dark-v4 g-color-primary--hover" href="/contact">Contact Us</a>
        </li>
      </ul>
      <!-- End Links -->
    </div>

    <div class="col-sm-6 col-lg-3 g-mb-30">
      <h3 class="h6 g-color-black g-font-weight-600 text-uppercase mb-4">Follow Us</h3>

      <!-- Social Icons -->
      <ul class="list-inline mb-0">
        <li class="list-inline-item g-mx-2">
          <a class="u-icon-v1 u-icon-size--sm u-icon-slide-up--hover g-color-blue g-bg-blue-opacity-0_1 g-color-blue--hover rounded-circle" target="_blank" href="">
            <i class="g-font-size-default g-line-height-1 u-icon__elem-regular fa fa-facebook"></i>
            <i class="g-font-size-default g-line-height-0_8 u-icon__elem-hover fa fa-facebook"></i>
          </a>
        </li>
        <li class="list-inline-item g-mx-2">
          <a class="u-icon-v1 u-icon-size--sm u-icon-slide-up--hover g-color-cyan g-bg-cyan-opacity-0_1 g-color-cyan--hover rounded-circle" target="_blank" href="">
            <i class="g-font-size-default g-line-height-1 u-icon__elem-regular fa fa-twitter"></i>
            <i class="g-font-size-default g-line-height-0_8 u-icon__elem-hover fa fa-twitter"></i>
          </a>
        </li>
        <li class="list-inline-item g-mx-2">
          <a class="u-icon-v1 u-icon-size--sm u-icon-slide-up--hover g-color-indigo g-bg-indigo-opacity-0_1 g-color-indigo--hover rounded-circle" target="_blank" href="">
            <i class="g-font-size-default g-line-height-1 u-icon__elem-regular fa fa-instagram"></i>
            <i class="g-font-size-default g-line-height-0_8 u-icon__elem-hover fa fa-instagram"></i>
          </a>
        </li>
        <li class="list-inline-item g-mx-2">
          <a class="u-icon-v1 u-icon-size--sm u-icon-slide-up--hover g-color-bluegray g-bg-bluegray-opacity-0_1 g-color-bluegray--hover rounded-circle" target="_blank" href="">
            <i class="g-font-size-default g-line-height-1 u-icon__elem-regular fa fa-linkedin"></i>
            <i class="g-font-size-default g-line-height-0_8 u-icon__elem-hover fa fa-linkedin"></i>
          </a>
        </li>
      </ul>
      <!-- End Social Icons -->
    </div>
  </div>
</footer>
