<div class="d-flex bg-img-center" [style.background-image]="'url(' + image + ')'">
<div class="container d-flex justify-content-end flex-column min-vh-lg-75 content-space-1 content-space-lg-b-3">
  <div class="w-lg-65">
    <span class="d-block text-white mb-3">{{title}} <span class="fw-bold">{{titleTag}}</span> <a class="badge bg-dark text-white rounded-pill ms-1" href="#openingsSection">View our courses</a></span>
    <h1 class="display-4 text-white">{{subTitle}}</h1>
    <p class="lead text-white">{{description}}</p>
  </div>
</div>
</div>
<div>
  <div class="container content-space-b-2 content-space-b-lg-3 mt-5">
    <div class="w-lg-65 text-center mx-lg-auto mb-5 mb-sm-7 mb-lg-10">
      <h2>Explore tools</h2>
      <p>The powerful and flexible theme for all kinds of businesses.</p>
    </div>

    <div class="w-lg-65 mx-lg-auto mb-5 mb-sm-10">
      <div class="row row-cols-2 row-cols-sm-3 justify-content-center">
        <div class="col mb-5 mb-sm-0">
          <div class="text-center">
            <div class="mb-3">
              <i class="bi-phone fs-1 text-dark"></i>
            </div>
            <h5>Responsive</h5>
          </div>
        </div>
        <div class="col mb-5 mb-sm-0">
          <div class="text-center">
            <div class="mb-3">
              <i class="bi-toggles2 fs-1 text-dark"></i>
            </div>
            <h5>Customizable</h5>
          </div>
        </div>
        <div class="col">
          <div class="text-center">
            <div class="mb-3">
              <i class="bi-chat-right-dots fs-1 text-dark"></i>
            </div>
            <h5>24/7 Support</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="">
  <div class="u-heading-v6-2 text-center g-mb-60">
    <span class="d-block g-color-gray-dark-v4 g-font-weight-600 g-font-size-13 text-uppercase">Follow the</span>
    <h2 class="h1 u-heading-v6__title g-brd-black g-color-black g-font-weight-600 mb-0">Daily News</h2>
  </div>
  <div class="row">
    <div class="masonry-grid-item col-sm-6 col-lg-4 g-mb-30" style="position: absolute; left: 66.6667%; top: 0px;">
      <!-- Blog Grid Modern Blocks -->
      <article class="u-shadow-v21 u-shadow-v21--hover g-transition-0_3">
        <img class="img-fluid w-100 g-rounded-top-5" src="../../assets/img-temp/400x270/img1.jpg" alt="Image Description">
        <div class="g-bg-white g-pa-30 g-rounded-bottom-5">
          <ul class="list-inline g-color-gray-dark-v4 g-font-weight-600 g-font-size-12">
            <li class="list-inline-item mr-0">Alex Teseira</li>
            <li class="list-inline-item mx-2">·</li>
            <li class="list-inline-item">7 June 2017</li>
          </ul>

          <h2 class="h5 g-color-black g-font-weight-600 mb-4">
            <a class="u-link-v5 g-color-black g-color-primary--hover g-cursor-pointer" href="#">Exclusive interview with InVision's CEO</a>
          </h2>

          <ul class="list-inline g-font-size-12 mb-0">
            <li class="list-inline-item g-mb-10">
              <a class="u-tags-v1 g-color-teal g-bg-teal-opacity-0_1 g-bg-teal--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#">Art</a>
            </li>
            <li class="list-inline-item g-mb-10">
              <a class="u-tags-v1 g-color-yellow g-bg-yellow-opacity-0_1 g-bg-yellow--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#">Design</a>
            </li>
          </ul>
        </div>
      </article>
      <!-- End Blog Grid Modern Blocks -->
    </div>
    <div class="masonry-grid-item col-sm-6 col-lg-4 g-mb-30" style="position: absolute; left: 66.6667%; top: 0px;">
      <!-- Blog Grid Modern Blocks -->
      <article class="u-shadow-v21 u-shadow-v21--hover g-transition-0_3">
        <img class="img-fluid w-100 g-rounded-top-5" src="../../assets/img-temp/400x270/img1.jpg" alt="Image Description">
        <div class="g-bg-white g-pa-30 g-rounded-bottom-5">
          <ul class="list-inline g-color-gray-dark-v4 g-font-weight-600 g-font-size-12">
            <li class="list-inline-item mr-0">Alex Teseira</li>
            <li class="list-inline-item mx-2">·</li>
            <li class="list-inline-item">7 June 2017</li>
          </ul>

          <h2 class="h5 g-color-black g-font-weight-600 mb-4">
            <a class="u-link-v5 g-color-black g-color-primary--hover g-cursor-pointer" href="#">Exclusive interview with InVision's CEO</a>
          </h2>

          <ul class="list-inline g-font-size-12 mb-0">
            <li class="list-inline-item g-mb-10">
              <a class="u-tags-v1 g-color-teal g-bg-teal-opacity-0_1 g-bg-teal--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#">Art</a>
            </li>
            <li class="list-inline-item g-mb-10">
              <a class="u-tags-v1 g-color-yellow g-bg-yellow-opacity-0_1 g-bg-yellow--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#">Design</a>
            </li>
          </ul>
        </div>
      </article>
      <!-- End Blog Grid Modern Blocks -->
    </div>
    <div class="masonry-grid-item col-sm-6 col-lg-4 g-mb-30" style="position: absolute; left: 66.6667%; top: 0px;">
      <!-- Blog Grid Modern Blocks -->
      <article class="u-shadow-v21 u-shadow-v21--hover g-transition-0_3">
        <img class="img-fluid w-100 g-rounded-top-5" src="../../assets/img-temp/400x270/img1.jpg" alt="Image Description">
        <div class="g-bg-white g-pa-30 g-rounded-bottom-5">
          <ul class="list-inline g-color-gray-dark-v4 g-font-weight-600 g-font-size-12">
            <li class="list-inline-item mr-0">Alex Teseira</li>
            <li class="list-inline-item mx-2">·</li>
            <li class="list-inline-item">7 June 2017</li>
          </ul>

          <h2 class="h5 g-color-black g-font-weight-600 mb-4">
            <a class="u-link-v5 g-color-black g-color-primary--hover g-cursor-pointer" href="#">Exclusive interview with InVision's CEO</a>
          </h2>

          <ul class="list-inline g-font-size-12 mb-0">
            <li class="list-inline-item g-mb-10">
              <a class="u-tags-v1 g-color-teal g-bg-teal-opacity-0_1 g-bg-teal--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#">Art</a>
            </li>
            <li class="list-inline-item g-mb-10">
              <a class="u-tags-v1 g-color-yellow g-bg-yellow-opacity-0_1 g-bg-yellow--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#">Design</a>
            </li>
          </ul>
        </div>
      </article>
      <!-- End Blog Grid Modern Blocks -->
    </div>
    <div class="masonry-grid-item col-sm-6 col-lg-4 g-mb-30" style="position: absolute; left: 66.6667%; top: 0px;">
      <!-- Blog Grid Modern Blocks -->
      <article class="u-shadow-v21 u-shadow-v21--hover g-transition-0_3">
        <img class="img-fluid w-100 g-rounded-top-5" src="../../assets/img-temp/400x270/img1.jpg" alt="Image Description">
        <div class="g-bg-white g-pa-30 g-rounded-bottom-5">
          <ul class="list-inline g-color-gray-dark-v4 g-font-weight-600 g-font-size-12">
            <li class="list-inline-item mr-0">Alex Teseira</li>
            <li class="list-inline-item mx-2">·</li>
            <li class="list-inline-item">7 June 2017</li>
          </ul>

          <h2 class="h5 g-color-black g-font-weight-600 mb-4">
            <a class="u-link-v5 g-color-black g-color-primary--hover g-cursor-pointer" href="#">Exclusive interview with InVision's CEO</a>
          </h2>

          <ul class="list-inline g-font-size-12 mb-0">
            <li class="list-inline-item g-mb-10">
              <a class="u-tags-v1 g-color-teal g-bg-teal-opacity-0_1 g-bg-teal--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#">Art</a>
            </li>
            <li class="list-inline-item g-mb-10">
              <a class="u-tags-v1 g-color-yellow g-bg-yellow-opacity-0_1 g-bg-yellow--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#">Design</a>
            </li>
          </ul>
        </div>
      </article>
      <!-- End Blog Grid Modern Blocks -->
    </div>
    <div class="masonry-grid-item col-sm-6 col-lg-4 g-mb-30" style="position: absolute; left: 66.6667%; top: 0px;">
      <!-- Blog Grid Modern Blocks -->
      <article class="u-shadow-v21 u-shadow-v21--hover g-transition-0_3">
        <img class="img-fluid w-100 g-rounded-top-5" src="../../assets/img-temp/400x270/img1.jpg" alt="Image Description">
        <div class="g-bg-white g-pa-30 g-rounded-bottom-5">
          <ul class="list-inline g-color-gray-dark-v4 g-font-weight-600 g-font-size-12">
            <li class="list-inline-item mr-0">Alex Teseira</li>
            <li class="list-inline-item mx-2">·</li>
            <li class="list-inline-item">7 June 2017</li>
          </ul>

          <h2 class="h5 g-color-black g-font-weight-600 mb-4">
            <a class="u-link-v5 g-color-black g-color-primary--hover g-cursor-pointer" href="#">Exclusive interview with InVision's CEO</a>
          </h2>

          <ul class="list-inline g-font-size-12 mb-0">
            <li class="list-inline-item g-mb-10">
              <a class="u-tags-v1 g-color-teal g-bg-teal-opacity-0_1 g-bg-teal--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#">Art</a>
            </li>
            <li class="list-inline-item g-mb-10">
              <a class="u-tags-v1 g-color-yellow g-bg-yellow-opacity-0_1 g-bg-yellow--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#">Design</a>
            </li>
          </ul>
        </div>
      </article>
      <!-- End Blog Grid Modern Blocks -->
    </div>
    <div class="masonry-grid-item col-sm-6 col-lg-4 g-mb-30" style="position: absolute; left: 66.6667%; top: 0px;">
      <!-- Blog Grid Modern Blocks -->
      <article class="u-shadow-v21 u-shadow-v21--hover g-transition-0_3">
        <img class="img-fluid w-100 g-rounded-top-5" src="../../assets/img-temp/400x270/img1.jpg" alt="Image Description">
        <div class="g-bg-white g-pa-30 g-rounded-bottom-5">
          <ul class="list-inline g-color-gray-dark-v4 g-font-weight-600 g-font-size-12">
            <li class="list-inline-item mr-0">Alex Teseira</li>
            <li class="list-inline-item mx-2">·</li>
            <li class="list-inline-item">7 June 2017</li>
          </ul>

          <h2 class="h5 g-color-black g-font-weight-600 mb-4">
            <a class="u-link-v5 g-color-black g-color-primary--hover g-cursor-pointer" href="#">Exclusive interview with InVision's CEO</a>
          </h2>

          <ul class="list-inline g-font-size-12 mb-0">
            <li class="list-inline-item g-mb-10">
              <a class="u-tags-v1 g-color-teal g-bg-teal-opacity-0_1 g-bg-teal--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#">Art</a>
            </li>
            <li class="list-inline-item g-mb-10">
              <a class="u-tags-v1 g-color-yellow g-bg-yellow-opacity-0_1 g-bg-yellow--hover g-color-white--hover g-rounded-50 g-py-4 g-px-15" href="#">Design</a>
            </li>
          </ul>
        </div>
      </article>
      <!-- End Blog Grid Modern Blocks -->
    </div>

  </div>
</div>
