<section class="g-flex-centered g-height-500 g-bg-img-hero u-bg-overlay g-bg-grid-v1--before g-color-white g-py-20" style="background-image: url(../../assets/img-temp/1920x1080/img45.jpg);">
  <div class="container u-bg-overlay__inner">
    <div class="row">
      <div class="col-md-6 align-self-center g-py-20">
        <h2 class="h4 text-uppercase g-letter-spacing-1 g-mb-20">Content block</h2>
        <p class="lead mb-0 g-line-height-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin hendrerit rhoncus tempus. Donec id orci malesuada, finibus odio quis, tincidunt libero. Fusce in venenatis ligula. Etiam eget lacus id erat scelerisque tempor.</p>
      </div>

      <div class="col-md-6 align-self-center g-py-20">
        <img class="w-100" src="../../assets/img-temp/400x270/img13.jpg" alt="Iamge Description">
      </div>
    </div>
  </div>
</section>

<div class="row">
  <div class="col-md-6 col-lg-4 g-mb-30">
    <!-- Article -->
    <article class="u-block-hover u-bg-overlay g-color-white g-bg-black-opacity-0_3--after text-center g-rounded-3 h-100">
      <!-- Article Image -->
      <img class="w-100 u-block-hover__main--zoom-v1" src="../../assets/img-temp/500x650/img1.jpg" alt="Image Description">
      <!-- End Article Image -->

      <!-- Article Content -->
      <div class="u-block-hover__additional g-flex-middle g-z-index-2 g-brd-around g-brd-2 g-brd-white-opacity-0_3 g-pa-15 g-ma-20">
        <div class="g-flex-middle-item">
          <h3 class="h4 d-inline-block">Photography</h3>
          <span class="d-block g-font-weight-600 g-font-size-40 text-uppercase g-mb-20">40% Off</span>
          <a class="js-fancybox btn btn-md u-btn-primary g-font-weight-600 g-font-size-12 text-uppercase" href="javascript:;" data-fancybox="lightbox-gallery-01-1" data-src="../../assets/img-temp/400x270/img2.jpg">View portfolio
          </a>
        </div>
      </div>
      <!-- End Article Content -->
    </article>
    <!-- End Article -->

    <img class="g-hidden-xs-up" src="../../assets/img-temp/400x270/img4.jpg" alt="Image Description" data-fancybox-gallery="lightbox-gallery-01-1">
    <img class="g-hidden-xs-up" src="../../assets/img-temp/400x270/img5.jpg" alt="Image Description" data-fancybox-gallery="lightbox-gallery-01-1">
    <img class="g-hidden-xs-up" src="../../assets/img-temp/400x270/img6.jpg" alt="Image Description" data-fancybox-gallery="lightbox-gallery-01-1">
  </div>

  <div class="col-md-6 col-lg-4 g-mb-30">
    <!-- Article -->
    <article class="u-block-hover u-bg-overlay g-color-white g-bg-black-opacity-0_3--after text-center g-rounded-3 h-100">
      <!-- Article Image -->
      <img class="w-100 u-block-hover__main--zoom-v1" src="../../assets/img-temp/500x650/img4.jpg" alt="Image Description">
      <!-- End Article Image -->

      <!-- Article Content -->
      <div class="u-block-hover__additional g-flex-middle g-z-index-2 g-brd-around g-brd-2 g-brd-white-opacity-0_3 g-pa-15 g-ma-20">
        <div class="g-flex-middle-item">
          <h3 class="h4 d-inline-block">Videography</h3>
          <span class="d-block g-font-weight-600 g-font-size-40 text-uppercase g-mb-20">25% Off</span>
          <a class="js-fancybox-media btn btn-md u-btn-primary g-font-weight-600 g-font-size-12 text-uppercase" href="javascript:;" data-fancybox="lightbox-gallery-01-2" data-src="//www.youtube.com/embed/BNpiwOkKIJ8?autoplay=1">View portfolio
          </a>
        </div>
      </div>
      <!-- End Article Content -->
    </article>
    <!-- End Article -->

    <iframe class="g-hidden-xs-up" src="http://www.youtube.com/embed/p2_O6M1m6xg?autoplay=0" data-fancybox-hidden-gallery="lightbox-gallery-01-2" data-fancybox-type="iframe"></iframe>
    <iframe class="g-hidden-xs-up" src="http://www.youtube.com/embed/wbpBdMUrqV8?autoplay=0" data-fancybox-hidden-gallery="lightbox-gallery-01-2" data-fancybox-type="iframe"></iframe>
    <iframe class="g-hidden-xs-up" src="http://www.youtube.com/embed/R27KHLQ0cIU?autoplay=0" data-fancybox-hidden-gallery="lightbox-gallery-01-2" data-fancybox-type="iframe"></iframe>
  </div>

  <div class="col-lg-4 g-mb-30">
    <div class="row">
      <div class="col-md-6 col-lg-12">
        <!-- Article -->
        <article class="u-block-hover g-color-white g-bg-cyan-gradient-opacity-v1 text-center rounded g-mb-30">
          <div class="g-z-index-2 g-brd-around g-brd-2 g-brd-white-opacity-0_3 g-pa-30 g-ma-20">
            <div class="g-flex-middle-item">
              <span class="d-block g-color-white g-font-weight-700 g-font-size-25 mb-1">$99.00</span>
              <h3 class="h4 d-inline-block g-mb-13">Web Design</h3>
            </div>
          </div>
        </article>
        <!-- End Article -->
      </div>

      <div class="col-md-6 col-lg-12">
        <!-- Article -->
        <article class="u-block-hover u-bg-overlay g-color-white g-bg-black-opacity-0_3--after text-center g-rounded-3">
          <!-- Article Image -->
          <img class="w-100 u-block-hover__main--zoom-v1" src="../../assets/img-temp/400x270/img1.jpg" alt="Image Description">
          <!-- End Article Image -->

          <!-- Article Content -->
          <div class="u-block-hover__additional g-flex-middle g-z-index-2 g-brd-around g-brd-2 g-brd-white-opacity-0_3 g-pa-15 g-ma-20">
            <div class="g-flex-middle-item">
              <h3 class="h4 d-inline-block">Branding</h3>
              <span class="d-block g-color-white-opacity-0_9">Understanding who you are and what you want is our strategy for your brand.</span>
            </div>
          </div>
          <!-- End Article Content -->
        </article>
        <!-- End Article -->
      </div>
    </div>
  </div>
</div>
