

<!--props = {
title ?: string
titleTag?: string
image: string
subTitle: string
description: string
}-->

<section class="g-bg-img-hero" style="background-image: url(../../assets/img-temp/1920x1080/img13.jpg);">
  <div class="container g-pos-rel g-z-index-1 g-py-150">
    <div class="g-mb-40">
      <h1 class="g-color-white g-font-weight-700 g-font-size-80 g-font-size-130--md g-line-height-1_2 mb-0">projects</h1>
      <span class="d-block g-color-white g-font-size-20 g-pos-rel g-top-minus-20--md ml-md-5">our branding</span>
    </div>

    <div class="text-right">
      <a class="js-fancybox g-text-underline--none--hover mb-5" href="javascript:;" data-src="//www.youtube.com/embed/BNpiwOkKIJ8?autoplay=1" data-speed="350" data-caption="Our working process">
            <span class="align-middle u-icon-v3 g-bg-white g-color-black g-color-primary--hover g-rounded-50x mr-2">
                <i class="g-font-size-15 g-pos-rel g-left-2 fa fa-play"></i>
              </span>
        <span class="d-inline-block g-brd-bottom g-brd-white g-color-white g-font-weight-600 text-uppercase">Our working process</span>
      </a>
    </div>
  </div>

</section>
<section>
  <div class="row no-gutters g-my-50">
    <div class="col-lg-4 g-px-40 g-mb-50 g-mb-0--lg">
      <!-- Icon Blocks -->
      <div class="text-center">
              <span class="d-inline-block u-icon-v3 u-icon-size--xl g-bg-primary g-color-white rounded-circle g-mb-30">
                  <i class="icon-finance-086 u-line-icon-pro"></i>
                </span>
        <h3 class="h5 g-color-gray-dark-v2 g-font-weight-600 text-uppercase mb-3">Invest To Us</h3>
        <p class="mb-0">We strive to embrace and drive change in our industry which allows us to keep our clients relevant.</p>
      </div>
      <!-- End Icon Blocks -->
    </div>

    <div class="col-lg-4 g-brd-left--lg g-brd-gray-light-v4 g-px-40 g-mb-50 g-mb-0--lg">
      <!-- Icon Blocks -->
      <div class="text-center">
              <span class="d-inline-block u-icon-v3 u-icon-size--xl g-bg-primary g-color-white rounded-circle g-mb-30">
                  <i class="icon-finance-196 u-line-icon-pro"></i>
                </span>
        <h3 class="h5 g-color-gray-dark-v2 g-font-weight-600 text-uppercase mb-3">Increase Income</h3>
        <p class="mb-0">We strive to embrace and drive change in our industry which allows us to keep our clients relevant.</p>
      </div>
      <!-- End Icon Blocks -->
    </div>

    <div class="col-lg-4 g-brd-left--lg g-brd-gray-light-v4 g-px-40">
      <!-- Icon Blocks -->
      <div class="text-center">
              <span class="d-inline-block u-icon-v3 u-icon-size--xl g-bg-primary g-color-white rounded-circle g-mb-30">
                  <i class="icon-finance-147 u-line-icon-pro"></i>
                </span>
        <h3 class="h5 g-color-gray-dark-v2 g-font-weight-600 text-uppercase mb-3">Collect Cash</h3>
        <p class="mb-0">We strive to embrace and drive change in our industry which allows us to keep our clients relevant.</p>
      </div>
      <!-- End Icon Blocks -->
    </div>
  </div>
</section>
<section class="1g-bg-secondary g-py-100">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 align-self-center g-mb-100 g-mb-0--lg">
        <header class="u-heading-v2-3--bottom g-brd-primary g-mb-20">
          <h2 class="h4 u-heading-v2__title g-color-gray-dark-v2 g-font-weight-600 text-uppercase">About Our Company</h2>
        </header>

        <p class="g-font-size-16 g-mb-30">Bluu Tech is a Learning and Development Platform Inspired to Farm the technical talent of the future.</p>

        <ul class="list-unstyled g-color-gray-dark-v4 mb-0">
          <li class="d-flex g-mb-10">
            <i class="icon-check g-color-primary g-mt-5 g-mr-10"></i> Courses Led and Designed Industry Experts
          </li>
          <li class="d-flex g-mb-10">
            <i class="icon-check g-color-blue g-mt-5 g-mr-10"></i> Web-Based Delivery
          </li>
          <li class="d-flex g-mb-10">
            <i class="icon-check g-color-blue g-mt-5 g-mr-10"></i> Knowledge-Based Certification
          </li>
          <li class="d-flex g-mb-10">
            <i class="icon-check g-color-blue g-mt-5 g-mr-10"></i> World-Class Coaching
          </li>
          <li class="d-flex g-mb-10">
            <i class="icon-check g-color-blue g-mt-5 g-mr-10"></i> 12 Week Tutorial
          </li>
          <li class="d-flex g-mb-10">
            <i class="icon-check g-color-blue g-mt-5 g-mr-10"></i> World-Class Coaching
          </li>
        </ul>
      </div>

      <div class="col-lg-6 g-bg-img-hero g-pos-rel" style="background-image: url(../../assets/img/maps/map3.png);">
        <div class="g-absolute-centered text-center w-100 g-px-40">
          <h2 class="h1 g-color-gray-light-v2 g-font-weight-600 g-letter-spacing-0_5">Unify is
            <span class="u-text-animation u-text-animation--typing">just like a </span><span class="typed-cursor">|</span></h2>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="container g-pt-100 g-pb-70">
  <div class="row justify-content-center g-mb-60">
    <div class="col-lg-7">
      <!-- Heading -->
      <div class="text-center mb-4">
        <h2 class="h3 text-uppercase mb-3">Recent news</h2>
        <div class="d-inline-block g-width-60 g-height-1 g-bg-black mb-2"></div>
        <p class="lead mb-0">Bluu Tech Africa has just launched with a home office in Accra, Ghana. We're also giving away 20 scholarships to aspiring technologists.</p>
      </div>
      <!-- End Heading -->
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4 g-mb-30">
      <!-- Article -->
      <article class="u-shadow-v1-4">
        <img class="img-fluid w-100" src="../../assets/img-temp/400x270/img14.jpg" alt="Image Description">

        <div class="g-pa-25">
          <ul class="list-inline small g-color-gray-dark-v4 g-mb-20">
            <li class="list-inline-item">
              <a class="text-uppercase btn btn-xs u-btn-red rounded-0" href="#">Tech</a>
            </li>
            <li class="list-inline-item">|</li>
            <li class="list-inline-item">July 02, 2017</li>
          </ul>

          <h3 class="h2 g-font-weight-300 g-mb-40">
            <a class="u-link-v5 g-color-main g-color-blue--hover g-text-underline--none--hover" href="#">There are many great solutions in Unify for your business</a>
          </h3>

          <div class="media g-font-size-12">
            <img class="d-flex mr-2 rounded-circle g-width-30 g-height-30" src="../../assets/img-temp/100x100/img7.jpg" alt="Image Description">
            <div class="media-body align-self-center">
              <a class="u-link-v5 g-color-main g-color-blue--hover text-uppercase" href="#">John Doe</a>
            </div>

            <div class="align-self-center">
              <a class="u-link-v5 g-color-main g-color-blue--hover g-mr-10" href="#">
                <i class="icon-bubbles g-mr-2"></i> 124
              </a>
              <a class="u-link-v5 g-color-main g-color-blue--hover" href="#">
                <i class="icon-eye g-mr-2"></i> 237
              </a>
            </div>
          </div>
        </div>
      </article>
      <!-- End Article -->
    </div>

    <div class="col-lg-4 g-mb-30">
      <!-- Article -->
      <article class="u-shadow-v1-4">
        <img class="img-fluid w-100" src="../../assets/img-temp/400x270/img7.jpg" alt="Image Description">

        <div class="g-pa-25">
          <ul class="list-inline small g-color-gray-dark-v4 g-mb-20">
            <li class="list-inline-item">
              <a class="text-uppercase btn btn-xs u-btn-blue rounded-0" href="#">Business</a>
            </li>
            <li class="list-inline-item">|</li>
            <li class="list-inline-item">July 02, 2017</li>
          </ul>

          <h3 class="h2 g-font-weight-300 g-mb-40">
            <a class="u-link-v5 g-color-main g-color-blue--hover g-text-underline--none--hover" href="#">Focused on helping our clients to build a great business</a>
          </h3>


          <div class="media g-font-size-12">
            <img class="d-flex mr-2 rounded-circle g-width-30 g-height-30" src="../../assets/img-temp/100x100/img5.jpg" alt="Image Description">
            <div class="media-body align-self-center">
              <a class="u-link-v5 g-color-main g-color-blue--hover text-uppercase" href="#">Kathy Reyes</a>
            </div>

            <div class="align-self-center">
              <a class="u-link-v5 g-color-main g-color-blue--hover g-mr-10" href="#">
                <i class="icon-bubbles g-mr-2"></i> 24
              </a>
              <a class="u-link-v5 g-color-main g-color-blue--hover" href="#">
                <i class="icon-eye g-mr-2"></i> 108
              </a>
            </div>
          </div>
        </div>
      </article>
      <!-- End Article -->
    </div>

    <div class="col-lg-4 g-mb-30">
      <!-- Article -->
      <article class="u-shadow-v1-4">
        <img class="img-fluid w-100" src="../../assets/img-temp/400x270/img8.jpg" alt="Image Description">

        <div class="g-pa-25">
          <ul class="list-inline small g-color-gray-dark-v4 g-mb-20">
            <li class="list-inline-item">
              <a class="text-uppercase btn btn-xs u-btn-purple rounded-0" href="#">UX Design</a>
            </li>
            <li class="list-inline-item">|</li>
            <li class="list-inline-item">July 02, 2017</li>
          </ul>

          <h3 class="h2 g-font-weight-300 g-mb-40">
            <a class="u-link-v5 g-color-main g-color-blue--hover g-text-underline--none--hover" href="#">We build your website to realise your vision and best product</a>
          </h3>


          <div class="media g-font-size-12">
            <img class="d-flex mr-2 rounded-circle g-width-30 g-height-30" src="../../assets/img-temp/100x100/img14.jpg" alt="Image Description">
            <div class="media-body align-self-center">
              <a class="u-link-v5 g-color-main g-color-blue--hover text-uppercase" href="#">David Gates</a>
            </div>

            <div class="align-self-center">
              <a class="u-link-v5 g-color-main g-color-blue--hover g-mr-10" href="#">
                <i class="icon-bubbles g-mr-2"></i> 17
              </a>
              <a class="u-link-v5 g-color-main g-color-blue--hover" href="#">
                <i class="icon-eye g-mr-2"></i> 66
              </a>
            </div>
          </div>
        </div>
      </article>
      <!-- End Article -->
    </div>
  </div>
</section>
<div class="container text-center g-color-white g-py-150--md g-py-80">
  <div class="row">
    <div class="col-md-8 ml-md-auto mr-md-auto">
      <h3 class="g-font-size-12 text-uppercase g-font-weight-600 g-mb-15"> <span class="g-color-blue">Our</span> Presentation</h3>
      <h2 class="h1 text-uppercase mb-3"> Watch our presentation</h2>
      <div class="d-inline-block g-width-60 g-height-1 g-bg-white mb-3"></div>

      <p class="lead g-mb-60">Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas ac nulla vehicula risus pulvinar feugiat ullamcorper sit amet mi. Nam placerat efficitur dui, quis mattis magna.</p>

      <a class="js-fancybox btn u-btn-blue g-pos-rel g-width-70 g-height-70 g-rounded-50" href="javascript:;" data-src="//vimeo.com/14220611" data-speed="1000" data-animate-in="flipInY" data-animate-out="flipOutY" data-caption="Single Image">
        <i class="fa fa-play center-it"></i>
      </a>
    </div>
  </div>
</div>
<section class="container g-pt-100 g-pb-40">
  <div class="row">
    <div class="col-lg-6 g-mb-60">
      <div class="mb-4">
        <h2 class="h3 text-uppercase mb-3">Watch our intro video</h2>
        <div class="g-width-60 g-height-1 g-bg-black"></div>
      </div>
      <div class="mb-5">
        <p>I am an ambitious workaholic, but apart from that, pretty simple person. Whether it's branding, print, UI + UX I've got you covered. I strive to figure out the right solutions for your look to stand out amongst the rest.</p>
        <p>As creatives, it's important that I strive to do work outside of obligation. This lets us stay ahead of the curve for our clients and internal projects.</p>
      </div>
      <a class="btn btn-xl u-btn-outline-black g-font-size-default mr-2" href="#">Explore more</a>
      <a class="btn btn-xl u-btn-blue g-font-size-default" href="#">Purchase Now</a>
    </div>

    <div class="col-lg-6 g-mb-60">
      <div class="embed-responsive embed-responsive-16by9">
        <iframe src="//player.vimeo.com/video/78451097?title=0&amp;byline=0&amp;portrait=0&amp;badge=0" width="530" height="300" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen=""></iframe>
      </div>
    </div>
  </div>
</section>
<section class="container g-py-100">
  <div class="text-center g-mb-50">
    <h2 class="h4">User Blocks
      <span class="g-color-blue g-ml-5">#03</span>
    </h2>
  </div>

  <div id="shortcode14">
    <div class="shortcode-html">
      <!-- Team Block -->
      <div class="row">
        <div class="col-md-4 g-mb-30">
          <!-- Figure -->
          <figure class="g-bg-cover g-bg-size-cover g-bg-pos-center g-bg-black-opacity-0_7--after text-center" style="background-image: url(../../assets/img-temp/900x900/img3.jpg);">
            <div class="g-pos-rel g-z-index-1 ">
              <div class="g-py-40 g-px-20">
                <!-- Figure Image -->
                <img class="g-width-100 g-height-100 rounded-circle g-mb-30" src="../../assets/img-temp/125x125/img5.jpg" alt="Image Description">
                <!-- Figure Image -->

                <!-- Figure Info -->
                <h4 class="g-color-white g-font-weight-600 g-font-size-16 g-mb-15">Mikel Andrews</h4>
                <span class="d-block g-color-blue g-font-weight-700 g-font-size-13 g-mb-15">Follow</span>
                <ul class="list-inline mb-0">
                  <li class="list-inline-item mx-1">
                    <a class="u-icon-v1 u-icon-size--sm g-color-white-opacity-0_8 g-color-white--hover g-bg-blue--hover rounded-circle" href="#">
                      <i class="fa fa-instagram"></i>
                    </a>
                  </li>
                  <li class="list-inline-item mx-1">
                    <a class="u-icon-v1 u-icon-size--sm g-color-white-opacity-0_8 g-color-white--hover g-bg-blue--hover rounded-circle" href="#">
                      <i class="fa fa-twitter"></i>
                    </a>
                  </li>
                  <li class="list-inline-item mx-1">
                    <a class="u-icon-v1 u-icon-size--sm g-color-white-opacity-0_8 g-color-white--hover g-bg-blue--hover rounded-circle" href="#">
                      <i class="fa fa-dribbble"></i>
                    </a>
                  </li>
                </ul>
                <!-- End Figure Info -->
              </div>

              <!-- Figure Footer -->
              <footer class="d-flex justify-content-between g-brd-top g-brd-white-opacity-0_2 g-py-20 g-px-40">
                <a class="g-color-white-opacity-0_6 g-color-white--hover g-font-size-13 g-text-underline--none--hover" href="#">25,000 Followers</a>
                <a class="g-color-white-opacity-0_6 g-color-white--hover g-font-weight-600--hover g-font-size-13 g-text-underline--none--hover" href="#">50 Following</a>
              </footer>
              <!-- End Figure Footer -->
            </div>
          </figure>
          <!-- End Figure -->
        </div>

        <div class="col-md-4 g-mb-30">
          <!-- Figure -->
          <figure class="g-bg-cover g-bg-size-cover g-bg-pos-center g-bg-black-opacity-0_7--after text-center" style="background-image: url(../../assets/img-temp/900x900/img6.jpg);">
            <div class="g-pos-rel g-z-index-1 ">
              <div class="g-py-40 g-px-20">
                <!-- Figure Image -->
                <img class="g-width-100 g-height-100 rounded-circle g-mb-30" src="../../assets/img-temp/125x125/img4.jpg" alt="Image Description">
                <!-- Figure Image -->

                <!-- Figure Info -->
                <h4 class="g-color-white g-font-weight-600 g-font-size-16 g-mb-15">Natasha Kolnikova</h4>
                <span class="d-block g-color-blue g-font-weight-700 g-font-size-13 g-mb-15">Follow</span>
                <ul class="list-inline mb-0">
                  <li class="list-inline-item mx-1">
                    <a class="u-icon-v1 u-icon-size--sm g-color-white-opacity-0_8 g-color-white--hover g-bg-blue--hover rounded-circle" href="#">
                      <i class="fa fa-instagram"></i>
                    </a>
                  </li>
                  <li class="list-inline-item mx-1">
                    <a class="u-icon-v1 u-icon-size--sm g-color-white-opacity-0_8 g-color-white--hover g-bg-blue--hover rounded-circle" href="#">
                      <i class="fa fa-twitter"></i>
                    </a>
                  </li>
                  <li class="list-inline-item mx-1">
                    <a class="u-icon-v1 u-icon-size--sm g-color-white-opacity-0_8 g-color-white--hover g-bg-blue--hover rounded-circle" href="#">
                      <i class="fa fa-dribbble"></i>
                    </a>
                  </li>
                </ul>
                <!-- End Figure Info -->
              </div>

              <!-- Figure Footer -->
              <footer class="d-flex justify-content-between g-brd-top g-brd-white-opacity-0_2 g-py-20 g-px-40">
                <a class="g-color-white-opacity-0_6 g-color-white--hover g-font-size-13 g-text-underline--none--hover" href="#">33,382 Followers</a>
                <a class="g-color-white-opacity-0_6 g-color-white--hover g-font-weight-600--hover g-font-size-13 g-text-underline--none--hover" href="#">7 Following</a>
              </footer>
              <!-- End Figure Footer -->
            </div>
          </figure>
          <!-- End Figure -->
        </div>

        <div class="col-md-4 g-mb-30">
          <!-- Figure -->
          <figure class="g-bg-cover g-bg-size-cover g-bg-pos-center g-bg-black-opacity-0_7--after text-center" style="background-image: url(../../assets/img-temp/900x900/img5.jpg);">
            <div class="g-pos-rel g-z-index-1 ">
              <div class="g-py-40 g-px-20">
                <!-- Figure Image -->
                <img class="g-width-100 g-height-100 rounded-circle g-mb-30" src="../../assets/img-temp/125x125/img3.jpg" alt="Image Description">
                <!-- Figure Image -->

                <!-- Figure Info -->
                <h4 class="g-color-white g-font-weight-600 g-font-size-16 g-mb-15">Frank Heller</h4>
                <span class="d-block g-color-blue g-font-weight-700 g-font-size-13 g-mb-15">Follow</span>
                <ul class="list-inline mb-0">
                  <li class="list-inline-item mx-1">
                    <a class="u-icon-v1 u-icon-size--sm g-color-white-opacity-0_8 g-color-white--hover g-bg-blue--hover rounded-circle" href="#">
                      <i class="fa fa-instagram"></i>
                    </a>
                  </li>
                  <li class="list-inline-item mx-1">
                    <a class="u-icon-v1 u-icon-size--sm g-color-white-opacity-0_8 g-color-white--hover g-bg-blue--hover rounded-circle" href="#">
                      <i class="fa fa-twitter"></i>
                    </a>
                  </li>
                  <li class="list-inline-item mx-1">
                    <a class="u-icon-v1 u-icon-size--sm g-color-white-opacity-0_8 g-color-white--hover g-bg-blue--hover rounded-circle" href="#">
                      <i class="fa fa-dribbble"></i>
                    </a>
                  </li>
                </ul>
                <!-- End Figure Info -->
              </div>

              <!-- Figure Footer -->
              <footer class="d-flex justify-content-between g-brd-top g-brd-white-opacity-0_2 g-py-20 g-px-40">
                <a class="g-color-white-opacity-0_6 g-color-white--hover g-font-size-13 g-text-underline--none--hover" href="#">956,000 Followers</a>
                <a class="g-color-white-opacity-0_6 g-color-white--hover g-font-weight-600--hover g-font-size-13 g-text-underline--none--hover" href="#">0 Following</a>
              </footer>
              <!-- End Figure Footer -->
            </div>
          </figure>
          <!-- End Figure -->
        </div>
      </div>
      <!-- End Team Block -->
    </div>
  </div>



  <!-- Show Code -->
  <div class="g-font-size-12 g-my-30 ">
    <a class="js-modal-markup u-link-v5  g-color-main  g-color-blue--hover g-mr-15" href="#" data-content-target="#shortcode14" data-modal-target="#modalMarkup" data-modal-effect="fadein">
      <i class="fa fa-code"></i>
      Show code
    </a>
    <a class="js-copy u-link-v5  g-color-main  g-color-blue--hover" href="#" data-content-target="#shortcode14" data-success-text="Copied">
      <i class="fa fa-clone"></i>
      Copy code
    </a>
  </div>
  <!-- End Show Code -->

</section>


