<app-my-dashboard></app-my-dashboard>

<!--<app-navigation></app-navigation>-->

<!--<app-header></app-header>-->

<!--<main class="container-fluid px-0 g-pt-65">-->
<!--  <div class="row no-gutters g-pos-rel g-overflow-x-hidden">-->
<!--    <div id="sideNav" class="col-auto u-sidebar-navigation-v1 u-sidebar-navigation&#45;&#45;dark">-->
<!--      <ul id="sideNavMenu" class="u-sidebar-navigation-v1-menu u-side-nav&#45;&#45;top-level-menu g-min-height-100vh mb-0">-->
<!--        <li class="u-sidebar-navigation-v1-menu-item u-side-nav&#45;&#45;has-sub-menu u-side-nav&#45;&#45;top-level-menu-item">-->
<!--          <a class="media u-side-nav&#45;&#45;top-level-menu-link u-side-nav&#45;&#45;hide-on-hidden g-px-15 g-py-12" href="#" data-hssm-target="#subMenu1">-->
<!--              <span class="d-flex align-self-center g-pos-rel g-font-size-18 g-mr-18">-->
<!--      <i class="hs-admin-server"></i>-->
<!--    </span>-->
<!--            <span class="media-body align-self-center">Dashboards</span>-->
<!--            <span class="d-flex align-self-center u-side-nav&#45;&#45;control-icon">-->
<!--      <i class="hs-admin-angle-right"></i>-->
<!--    </span>-->
<!--            <span class="u-side-nav&#45;&#45;has-sub-menu__indicator"></span>-->
<!--          </a>-->
<!--          <ul id="subMenu1" class="u-sidebar-navigation-v1-menu u-side-nav&#45;&#45;second-level-menu mb-0">-->
<!--            <li class="u-sidebar-navigation-v1-menu-item u-side-nav&#45;&#45;second-level-menu-item">-->
<!--              <a class="media u-side-nav&#45;&#45;second-level-menu-link g-px-15 g-py-12" href="../dashboards/dashboard-v1.html">-->
<!--                  <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">-->
<!--          <i class="hs-admin-infinite"></i>-->
<!--        </span>-->
<!--                <span class="media-body align-self-center">Dashboards v1</span>-->
<!--              </a>-->
<!--            </li>-->
<!--            <li class="u-sidebar-navigation-v1-menu-item u-side-nav&#45;&#45;second-level-menu-item">-->
<!--              <a class="media u-side-nav&#45;&#45;second-level-menu-link g-px-15 g-py-12" href="../dashboards/dashboard-v2.html">-->
<!--                  <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">-->
<!--          <i class="hs-admin-blackboard"></i>-->
<!--        </span>-->
<!--                <span class="media-body align-self-center">Dashboards v2</span>-->
<!--              </a>-->
<!--            </li>-->
<!--            <li class="u-sidebar-navigation-v1-menu-item u-side-nav&#45;&#45;second-level-menu-item">-->
<!--              <a class="media u-side-nav&#45;&#45;second-level-menu-link g-px-15 g-py-12" href="../dashboards/dashboard-v3.html">-->
<!--                  <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">-->
<!--          <i class="hs-admin-harddrive"></i>-->
<!--        </span>-->
<!--                <span class="media-body align-self-center">Dashboards v3</span>-->
<!--              </a>-->
<!--            </li>-->
<!--            <li class="u-sidebar-navigation-v1-menu-item u-side-nav&#45;&#45;second-level-menu-item">-->
<!--              <a class="media u-side-nav&#45;&#45;second-level-menu-link g-px-15 g-py-12" href="../dashboards/dashboard-v4.html">-->
<!--                  <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">-->
<!--          <i class="hs-admin-harddrive"></i>-->
<!--        </span>-->
<!--                <span class="media-body align-self-center">Dashboards v4</span>-->
<!--              </a>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </li>-->
<!--        <li class="u-sidebar-navigation-v1-menu-item u-side-nav&#45;&#45;has-sub-menu u-side-nav&#45;&#45;top-level-menu-item u-side-nav-opened has-active">-->
<!--          <a class="media u-side-nav&#45;&#45;top-level-menu-link u-side-nav&#45;&#45;hide-on-hidden g-px-15 g-py-12" href="#" data-hssm-target="#subMenu2">-->
<!--              <span class="d-flex align-self-center g-pos-rel g-font-size-18 g-mr-18">-->
<!--      <i class="hs-admin-settings"></i>-->
<!--    </span>-->
<!--            <span class="media-body align-self-center">Layouts Settings</span>-->
<!--            <span class="d-flex align-self-center u-side-nav&#45;&#45;control-icon">-->
<!--      <i class="hs-admin-angle-right"></i>-->
<!--    </span>-->
<!--            <span class="u-side-nav&#45;&#45;has-sub-menu__indicator"></span>-->
<!--          </a>-->
<!--          <ul id="subMenu2" class="u-sidebar-navigation-v1-menu u-side-nav&#45;&#45;second-level-menu mb-0" style="display: block;">-->
<!--            <li class="u-sidebar-navigation-v1-menu-item u-side-nav&#45;&#45;second-level-menu-item">-->
<!--              <a class="media u-side-nav&#45;&#45;second-level-menu-link g-px-15 g-py-12" href="../layout-settings/fixed-header-sidebar.html">-->
<!--                  <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">-->
<!--          <i class="hs-admin-layout-media-center-alt"></i>-->
<!--        </span>-->
<!--                <span class="media-body align-self-center">Fixed Header & Sidebar</span>-->
<!--              </a>-->
<!--            </li>-->
<!--            <li class="u-sidebar-navigation-v1-menu-item u-side-nav&#45;&#45;second-level-menu-item">-->
<!--              <a class="media u-side-nav&#45;&#45;second-level-menu-link g-px-15 g-py-12" href="../layout-settings/fixed-header-static-sidebar.html">-->
<!--                  <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">-->
<!--          <i class="hs-admin-layout-media-center-alt"></i>-->
<!--        </span>-->
<!--                <span class="media-body align-self-center">Fixed Header & Static Sidebar</span>-->
<!--              </a>-->
<!--            </li>-->
<!--            <li class="u-sidebar-navigation-v1-menu-item u-side-nav&#45;&#45;second-level-menu-item">-->
<!--              <a class="media u-side-nav&#45;&#45;second-level-menu-link g-px-15 g-py-12" href="../layout-settings/static-header-sidebar.html">-->
<!--                  <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">-->
<!--          <i class="hs-admin-layout-media-center-alt"></i>-->
<!--        </span>-->
<!--                <span class="media-body align-self-center">Static Header & Sidebar</span>-->
<!--              </a>-->
<!--            </li>-->
<!--            <li class="u-sidebar-navigation-v1-menu-item u-side-nav&#45;&#45;second-level-menu-item">-->
<!--              <a class="media u-side-nav&#45;&#45;second-level-menu-link g-px-15 g-py-12 active" href="../layout-settings/sidebar-hide.html">-->
<!--                  <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">-->
<!--          <i class="hs-admin-layout-media-center-alt"></i>-->
<!--        </span>-->
<!--                <span class="media-body align-self-center">Hide Sidebar</span>-->
<!--              </a>-->
<!--            </li>-->
<!--            <li class="u-sidebar-navigation-v1-menu-item u-side-nav&#45;&#45;second-level-menu-item">-->
<!--              <a class="media u-side-nav&#45;&#45;second-level-menu-link g-px-15 g-py-12" href="../layout-settings/layout-light.html">-->
<!--                  <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">-->
<!--          <i class="hs-admin-layout-media-center-alt"></i>-->
<!--        </span>-->
<!--                <span class="media-body align-self-center">Light Layout</span>-->
<!--              </a>-->
<!--            </li>-->
<!--            <li class="u-sidebar-navigation-v1-menu-item u-side-nav&#45;&#45;second-level-menu-item">-->
<!--              <a class="media u-side-nav&#45;&#45;second-level-menu-link g-px-15 g-py-12" href="../layout-settings/layout-dark-body-v2.html">-->
<!--                  <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">-->
<!--          <i class="hs-admin-layout-media-center-alt"></i>-->
<!--        </span>-->
<!--                <span class="media-body align-self-center">Dark Layout: body v.2</span>-->
<!--              </a>-->
<!--            </li>-->
<!--            <li class="u-sidebar-navigation-v1-menu-item u-side-nav&#45;&#45;second-level-menu-item">-->
<!--              <a class="media u-side-nav&#45;&#45;second-level-menu-link g-px-15 g-py-12" href="../layout-settings/layout-light-body-v2.html">-->
<!--                  <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">-->
<!--          <i class="hs-admin-layout-media-center-alt"></i>-->
<!--        </span>-->
<!--                <span class="media-body align-self-center">Light Layout: body v.2</span>-->
<!--              </a>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </li>-->
<!--        <li class="u-sidebar-navigation-v1-menu-item u-side-nav&#45;&#45;has-sub-menu u-side-nav&#45;&#45;top-level-menu-item">-->
<!--          <a class="media u-side-nav&#45;&#45;top-level-menu-link u-side-nav&#45;&#45;hide-on-hidden g-px-15 g-py-12" href="#" data-hssm-target="#subMenu4">-->
<!--              <span class="d-flex align-self-center g-pos-rel g-font-size-18 g-mr-18">-->
<!--      <i class="hs-admin-layers"></i>-->
<!--    </span>-->
<!--            <span class="media-body align-self-center">App Views</span>-->
<!--            <span class="d-flex align-self-center u-side-nav&#45;&#45;control-icon">-->
<!--      <i class="hs-admin-angle-right"></i>-->
<!--    </span>-->

<!--            <span class="u-side-nav&#45;&#45;has-sub-menu__indicator"></span>-->
<!--          </a>-->
<!--          <ul id="subMenu4" class="u-sidebar-navigation-v1-menu u-side-nav&#45;&#45;second-level-menu mb-0">-->
<!--            <li class="u-sidebar-navigation-v1-menu-item u-side-nav&#45;&#45;has-sub-menu u-side-nav&#45;&#45;second-level-menu-item">-->
<!--              <a class="media u-side-nav&#45;&#45;second-level-menu-link g-px-15 g-py-12" href="#" data-hssm-target="#subMenu4Profiles">-->
<!--                  <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">-->
<!--          <i class="hs-admin-list"></i>-->
<!--        </span>-->
<!--                <span class="media-body align-self-center">Profile Pages</span>-->
<!--                <span class="d-flex align-self-center u-side-nav&#45;&#45;control-icon">-->
<!--          <i class="hs-admin-angle-right"></i>-->
<!--        </span>-->
<!--              </a>-->
<!--              <ul id="subMenu4Profiles" class="u-side-nav&#45;&#45;third-level-menu">-->
<!--                <li class="u-side-nav&#45;&#45;third-level-menu-item">-->
<!--                  <a class="u-side-nav&#45;&#45;third-level-menu-link u-side-nav&#45;&#45;hide-on-hidden g-pl-8 g-pr-15 g-py-6" href="../app-views/app-profile.html">Profile Information</a>-->
<!--                </li>-->
<!--                <li class="u-side-nav&#45;&#45;third-level-menu-item">-->
<!--                  <a class="u-side-nav&#45;&#45;third-level-menu-link u-side-nav&#45;&#45;hide-on-hidden g-pl-8 g-pr-15 g-py-6" href="../app-views/app-profile-biography.html">Biography</a>-->
<!--                </li>-->
<!--                <li class="u-side-nav&#45;&#45;third-level-menu-item">-->
<!--                  <a class="u-side-nav&#45;&#45;third-level-menu-link u-side-nav&#45;&#45;hide-on-hidden g-pl-8 g-pr-15 g-py-6" href="../app-views/app-profile-interests.html">Interests</a>-->
<!--                </li>-->
<!--                <li class="u-side-nav&#45;&#45;third-level-menu-item">-->
<!--                  <a class="u-side-nav&#45;&#45;third-level-menu-link u-side-nav&#45;&#45;hide-on-hidden g-pl-8 g-pr-15 g-py-6" href="../app-views/app-profile-mobile.html">Mobile</a>-->
<!--                </li>-->
<!--                <li class="u-side-nav&#45;&#45;third-level-menu-item">-->
<!--                  <a class="u-side-nav&#45;&#45;third-level-menu-link u-side-nav&#45;&#45;hide-on-hidden g-pl-8 g-pr-15 g-py-6" href="../app-views/app-profile-photos-and-videos.html">Photos &amp; Videos</a>-->
<!--                </li>-->
<!--                <li class="u-side-nav&#45;&#45;third-level-menu-item">-->
<!--                  <a class="u-side-nav&#45;&#45;third-level-menu-link u-side-nav&#45;&#45;hide-on-hidden g-pl-8 g-pr-15 g-py-6" href="../app-views/app-profile-payment-methods.html">Payment Methods</a>-->
<!--                </li>-->
<!--                <li class="u-side-nav&#45;&#45;third-level-menu-item">-->
<!--                  <a class="u-side-nav&#45;&#45;third-level-menu-link u-side-nav&#45;&#45;hide-on-hidden g-pl-8 g-pr-15 g-py-6" href="../app-views/app-profile-transactions.html">Transactions</a>-->
<!--                </li>-->
<!--                <li class="u-side-nav&#45;&#45;third-level-menu-item">-->
<!--                  <a class="u-side-nav&#45;&#45;third-level-menu-link u-side-nav&#45;&#45;hide-on-hidden g-pl-8 g-pr-15 g-py-6" href="../app-views/app-profile-security.html">Security</a>-->
<!--                </li>-->
<!--                <li class="u-side-nav&#45;&#45;third-level-menu-item">-->
<!--                  <a class="u-side-nav&#45;&#45;third-level-menu-link u-side-nav&#45;&#45;hide-on-hidden g-pl-8 g-pr-15 g-py-6" href="../app-views/app-profile-upgrade-plan.html">Upgrade My Plan</a>-->
<!--                </li>-->
<!--                <li class="u-side-nav&#45;&#45;third-level-menu-item">-->
<!--                  <a class="u-side-nav&#45;&#45;third-level-menu-link u-side-nav&#45;&#45;hide-on-hidden g-pl-8 g-pr-15 g-py-6" href="../app-views/app-profile-invite.html">Invited Friends</a>-->
<!--                </li>-->
<!--                <li class="u-side-nav&#45;&#45;third-level-menu-item">-->
<!--                  <a class="u-side-nav&#45;&#45;third-level-menu-link u-side-nav&#45;&#45;hide-on-hidden g-pl-8 g-pr-15 g-py-6" href="../app-views/app-profile-connected-accounts.html">Connected Accounts</a>-->
<!--                </li>-->
<!--              </ul>-->
<!--            </li>-->
<!--            <li class="u-sidebar-navigation-v1-menu-item u-side-nav&#45;&#45;second-level-menu-item">-->
<!--              <a class="media u-side-nav&#45;&#45;second-level-menu-link g-px-15 g-py-12" href="../app-views/app-projects.html">-->
<!--                  <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">-->
<!--          <i class="hs-admin-layout-media-left"></i>-->
<!--        </span>-->
<!--                <span class="media-body align-self-center">Projects</span>-->
<!--              </a>-->
<!--            </li>-->
<!--            <li class="u-sidebar-navigation-v1-menu-item u-side-nav&#45;&#45;second-level-menu-item">-->
<!--              <a class="media u-side-nav&#45;&#45;second-level-menu-link g-px-15 g-py-12" href="../app-views/app-chat.html">-->
<!--                  <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">-->
<!--          <i class="hs-admin-comments"></i>-->
<!--        </span>-->
<!--                <span class="media-body align-self-center">Chat</span>-->
<!--              </a>-->
<!--            </li>-->
<!--            <li class="u-sidebar-navigation-v1-menu-item u-side-nav&#45;&#45;second-level-menu-item">-->
<!--              <a class="media u-side-nav&#45;&#45;second-level-menu-link g-px-15 g-py-12" href="../app-views/app-file-manager.html">-->
<!--                  <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">-->
<!--          <i class="hs-admin-folder"></i>-->
<!--        </span>-->
<!--                <span class="media-body align-self-center">File Manager</span>-->
<!--                <span class="d-flex align-self-center">-->
<!--          <span class="d-inline-block text-center g-min-width-35 g-bg-primary g-font-size-12 g-color-white g-rounded-15 g-px-8 g-py-1">10</span>-->
<!--                  </span>-->
<!--              </a>-->
<!--            </li>-->
<!--            <li class="u-sidebar-navigation-v1-menu-item u-side-nav&#45;&#45;second-level-menu-item">-->
<!--              <a class="media u-side-nav&#45;&#45;second-level-menu-link g-px-15 g-py-12" href="../app-views/app-contacts.html">-->
<!--                  <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">-->
<!--          <i class="hs-admin-id-badge"></i>-->
<!--        </span>-->
<!--                <span class="media-body align-self-center">User Contacts</span>-->
<!--              </a>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </li>-->
<!--        <li class="u-sidebar-navigation-v1-menu-item u-side-nav&#45;&#45;has-sub-menu u-side-nav&#45;&#45;top-level-menu-item">-->
<!--          <a class="media u-side-nav&#45;&#45;top-level-menu-link u-side-nav&#45;&#45;hide-on-hidden g-px-15 g-py-12" href="#" data-hssm-target="#subMenu7">-->
<!--              <span class="d-flex align-self-center g-pos-rel g-font-size-18 g-mr-18">-->
<!--      <i class="hs-admin-pencil-alt"></i>-->
<!--    </span>-->
<!--            <span class="media-body align-self-center">Forms</span>-->
<!--            <span class="d-flex align-self-center u-side-nav&#45;&#45;control-icon">-->
<!--      <i class="hs-admin-angle-right"></i>-->
<!--    </span>-->

<!--            <span class="u-side-nav&#45;&#45;has-sub-menu__indicator"></span>-->
<!--          </a>-->
<!--          <ul id="subMenu7" class="u-sidebar-navigation-v1-menu u-side-nav&#45;&#45;second-level-menu mb-0">-->
<!--            <li class="u-sidebar-navigation-v1-menu-item u-side-nav&#45;&#45;has-sub-menu u-side-nav&#45;&#45;second-level-menu-item">-->
<!--              <a class="media u-side-nav&#45;&#45;second-level-menu-link g-px-15 g-py-12" href="#" data-hssm-target="#subMenu7Elements">-->
<!--                  <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">-->
<!--          <i class="hs-admin-list"></i>-->
<!--        </span>-->
<!--                <span class="media-body align-self-center">Elements</span>-->
<!--                <span class="d-flex align-self-center u-side-nav&#45;&#45;control-icon">-->
<!--          <i class="hs-admin-angle-right"></i>-->
<!--        </span>-->
<!--              </a>-->
<!--              <ul id="subMenu7Elements" class="u-side-nav&#45;&#45;third-level-menu">-->
<!--                <li class="u-side-nav&#45;&#45;third-level-menu-item">-->
<!--                  <a class="u-side-nav&#45;&#45;third-level-menu-link u-side-nav&#45;&#45;hide-on-hidden g-pl-8 g-pr-15 g-py-6" href="../forms/forms-elemets-text-inputs.html">Text Inputs</a>-->
<!--                </li>-->
<!--                <li class="u-side-nav&#45;&#45;third-level-menu-item">-->
<!--                  <a class="u-side-nav&#45;&#45;third-level-menu-link u-side-nav&#45;&#45;hide-on-hidden g-pl-8 g-pr-15 g-py-6" href="../forms/forms-elemets-textareas.html">Textareas</a>-->
<!--                </li>-->
<!--                <li class="u-side-nav&#45;&#45;third-level-menu-item">-->
<!--                  <a class="u-side-nav&#45;&#45;third-level-menu-link u-side-nav&#45;&#45;hide-on-hidden g-pl-8 g-pr-15 g-py-6" href="../forms/forms-elemets-text-editors.html">Text Editors</a>-->
<!--                </li>-->
<!--                <li class="u-side-nav&#45;&#45;third-level-menu-item">-->
<!--                  <a class="u-side-nav&#45;&#45;third-level-menu-link u-side-nav&#45;&#45;hide-on-hidden g-pl-8 g-pr-15 g-py-6" href="../forms/forms-elemets-selects.html">Selects</a>-->
<!--                </li>-->
<!--                <li class="u-side-nav&#45;&#45;third-level-menu-item">-->
<!--                  <a class="u-side-nav&#45;&#45;third-level-menu-link u-side-nav&#45;&#45;hide-on-hidden g-pl-8 g-pr-15 g-py-6" href="../forms/forms-elemets-advanced-selects.html">Advanced Selects</a>-->
<!--                </li>-->
<!--                <li class="u-side-nav&#45;&#45;third-level-menu-item">-->
<!--                  <a class="u-side-nav&#45;&#45;third-level-menu-link u-side-nav&#45;&#45;hide-on-hidden g-pl-8 g-pr-15 g-py-6" href="../forms/forms-elemets-checkboxes-radios.html">Checkboxes &amp; Radios</a>-->
<!--                </li>-->
<!--                <li class="u-side-nav&#45;&#45;third-level-menu-item">-->
<!--                  <a class="u-side-nav&#45;&#45;third-level-menu-link u-side-nav&#45;&#45;hide-on-hidden g-pl-8 g-pr-15 g-py-6" href="../forms/forms-elemets-toggles.html">Toggles</a>-->
<!--                </li>-->

<!--              </ul>-->
<!--            </li>-->
<!--            <li class="u-sidebar-navigation-v1-menu-item u-side-nav&#45;&#45;has-sub-menu u-side-nav&#45;&#45;second-level-menu-item">-->
<!--              <a class="media u-side-nav&#45;&#45;second-level-menu-link g-px-15 g-py-12" href="#" data-hssm-target="#subMenu7Validation">-->
<!--                  <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">-->
<!--          <i class="hs-admin-list"></i>-->
<!--        </span>-->
<!--                <span class="media-body align-self-center">Validation</span>-->
<!--                <span class="d-flex align-self-center u-side-nav&#45;&#45;control-icon">-->
<!--          <i class="hs-admin-angle-right"></i>-->
<!--        </span>-->
<!--              </a>-->
<!--              <ul id="subMenu7Validation" class="u-side-nav&#45;&#45;third-level-menu">-->
<!--                &lt;!&ndash; States &ndash;&gt;-->
<!--                <li class="u-side-nav&#45;&#45;third-level-menu-item">-->
<!--                  <a class="u-side-nav&#45;&#45;third-level-menu-link u-side-nav&#45;&#45;hide-on-hidden g-pl-8 g-pr-15 g-py-6" href="../forms/forms-validation-states.html">States</a>-->
<!--                </li>-->
<!--              </ul>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </li>-->

<!--        <li class="u-sidebar-navigation-v1-menu-item u-side-nav&#45;&#45;has-sub-menu u-side-nav&#45;&#45;top-level-menu-item">-->
<!--          <a class="media u-side-nav&#45;&#45;top-level-menu-link u-side-nav&#45;&#45;hide-on-hidden g-px-15 g-py-12" href="#" data-hssm-target="#subMenu8">-->
<!--              <span class="d-flex align-self-center g-pos-rel g-font-size-18 g-mr-18">-->
<!--      <i class="hs-admin-layout-grid-3"></i>-->
<!--    </span>-->
<!--            <span class="media-body align-self-center">Tables</span>-->
<!--            <span class="d-flex align-self-center u-side-nav&#45;&#45;control-icon">-->
<!--      <i class="hs-admin-angle-right"></i>-->
<!--    </span>-->

<!--            <span class="u-side-nav&#45;&#45;has-sub-menu__indicator"></span>-->
<!--          </a>-->

<!--          <ul id="subMenu8" class="u-sidebar-navigation-v1-menu u-side-nav&#45;&#45;second-level-menu mb-0">-->
<!--            <li class="u-sidebar-navigation-v1-menu-item u-side-nav&#45;&#45;second-level-menu-item">-->
<!--              <a class="media u-side-nav&#45;&#45;second-level-menu-link g-px-15 g-py-12" href="../tables/tables-basic.html">-->
<!--                  <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">-->
<!--          <i class="hs-admin-layout-list-thumb"></i>-->
<!--        </span>-->
<!--                <span class="media-body align-self-center">Basic Tables</span>-->
<!--              </a>-->
<!--            </li>-->
<!--            <li class="u-sidebar-navigation-v1-menu-item u-side-nav&#45;&#45;second-level-menu-item">-->
<!--              <a class="media u-side-nav&#45;&#45;second-level-menu-link g-px-15 g-py-12" href="../tables/tables-complex.html">-->
<!--                  <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">-->
<!--          <i class="hs-admin-layout-media-overlay-alt-2"></i>-->
<!--        </span>-->
<!--                <span class="media-body align-self-center">Complex Tables</span>-->
<!--              </a>-->
<!--            </li>-->
<!--            <li class="u-sidebar-navigation-v1-menu-item u-side-nav&#45;&#45;second-level-menu-item">-->
<!--              <a class="media u-side-nav&#45;&#45;second-level-menu-link g-px-15 g-py-12" href="../tables/tables-modern.html">-->
<!--                  <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">-->
<!--          <i class="hs-admin-layout-media-overlay-alt-2"></i>-->
<!--        </span>-->
<!--                <span class="media-body align-self-center">Modern Tables</span>-->
<!--              </a>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </li>-->
<!--        <li class="u-sidebar-navigation-v1-menu-item u-side-nav&#45;&#45;has-sub-menu u-side-nav&#45;&#45;top-level-menu-item">-->
<!--          <a class="media u-side-nav&#45;&#45;top-level-menu-link u-side-nav&#45;&#45;hide-on-hidden g-px-15 g-py-12" href="#" data-hssm-target="#subMenu6">-->
<!--              <span class="d-flex align-self-center g-pos-rel g-font-size-18 g-mr-18">-->
<!--      <i class="hs-admin-layout-media-center-alt"></i>-->
<!--    </span>-->
<!--            <span class="media-body align-self-center">Panels/Cards</span>-->
<!--            <span class="d-flex align-self-center u-side-nav&#45;&#45;control-icon">-->
<!--      <i class="hs-admin-angle-right"></i>-->
<!--    </span>-->

<!--            <span class="u-side-nav&#45;&#45;has-sub-menu__indicator"></span>-->
<!--          </a>-->

<!--          <ul id="subMenu6" class="u-sidebar-navigation-v1-menu u-side-nav&#45;&#45;second-level-menu mb-0">-->
<!--            <li class="u-sidebar-navigation-v1-menu-item u-side-nav&#45;&#45;second-level-menu-item">-->
<!--              <a class="media u-side-nav&#45;&#45;second-level-menu-link g-px-15 g-py-12" href="../panels/panel-variations.html">-->
<!--                  <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">-->
<!--          <i class="hs-admin-layout-cta-btn-left"></i>-->
<!--        </span>-->
<!--                <span class="media-body align-self-center">Panel Variations</span>-->
<!--              </a>-->
<!--            </li>-->
<!--            <li class="u-sidebar-navigation-v1-menu-item u-side-nav&#45;&#45;second-level-menu-item">-->
<!--              <a class="media u-side-nav&#45;&#45;second-level-menu-link g-px-15 g-py-12" href="../panels/panel-options.html">-->
<!--                  <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">-->
<!--          <i class="hs-admin-layout-cta-right"></i>-->
<!--        </span>-->
<!--                <span class="media-body align-self-center">Panel's Options</span>-->
<!--              </a>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </li>-->
<!--        <li class="u-sidebar-navigation-v1-menu-item u-side-nav&#45;&#45;has-sub-menu u-side-nav&#45;&#45;top-level-menu-item">-->
<!--          <a class="media u-side-nav&#45;&#45;top-level-menu-link u-side-nav&#45;&#45;hide-on-hidden g-px-15 g-py-12" href="#" data-hssm-target="#subMenu9">-->
<!--              <span class="d-flex align-self-center g-pos-rel g-font-size-18 g-mr-18">-->
<!--      <i class="hs-admin-layout-list-thumb"></i>-->
<!--    </span>-->
<!--            <span class="media-body align-self-center">Notifications</span>-->
<!--            <span class="d-flex align-self-center u-side-nav&#45;&#45;control-icon">-->
<!--      <i class="hs-admin-angle-right"></i>-->
<!--    </span>-->

<!--            <span class="u-side-nav&#45;&#45;has-sub-menu__indicator"></span>-->
<!--          </a>-->

<!--          <ul id="subMenu9" class="u-sidebar-navigation-v1-menu u-side-nav&#45;&#45;second-level-menu mb-0">-->
<!--            <li class="u-sidebar-navigation-v1-menu-item u-side-nav&#45;&#45;second-level-menu-item">-->
<!--              <a class="media u-side-nav&#45;&#45;second-level-menu-link g-px-15 g-py-12" href="../notifications/notifications-colorful.html">-->
<!--                  <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">-->
<!--          <i class="hs-admin-layout-cta-btn-right"></i>-->
<!--        </span>-->
<!--                <span class="media-body align-self-center">Colorful Notifications</span>-->
<!--              </a>-->
<!--            </li>-->
<!--            <li class="u-sidebar-navigation-v1-menu-item u-side-nav&#45;&#45;second-level-menu-item">-->
<!--              <a class="media u-side-nav&#45;&#45;second-level-menu-link g-px-15 g-py-12" href="../notifications/notifications-light.html">-->
<!--                  <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">-->
<!--          <i class="hs-admin-layout-cta-btn-left"></i>-->
<!--        </span>-->
<!--                <span class="media-body align-self-center">Light Notifications</span>-->
<!--              </a>-->
<!--            </li>-->
<!--            <li class="u-sidebar-navigation-v1-menu-item u-side-nav&#45;&#45;second-level-menu-item">-->
<!--              <a class="media u-side-nav&#45;&#45;second-level-menu-link g-px-15 g-py-12" href="../notifications/notifications-dark.html">-->
<!--                  <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">-->
<!--          <i class="hs-admin-layout-cta-center"></i>-->
<!--        </span>-->
<!--                <span class="media-body align-self-center">Dark Notifications</span>-->
<!--              </a>-->
<!--            </li>-->
<!--            <li class="u-sidebar-navigation-v1-menu-item u-side-nav&#45;&#45;second-level-menu-item">-->
<!--              <a class="media u-side-nav&#45;&#45;second-level-menu-link g-px-15 g-py-12" href="../notifications/notifications-builder.html">-->
<!--                  <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">-->
<!--          <i class="hs-admin-infinite"></i>-->
<!--        </span>-->
<!--                <span class="media-body align-self-center">Notifications Builder</span>-->
<!--              </a>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </li>-->
<!--        <li class="u-sidebar-navigation-v1-menu-item u-side-nav&#45;&#45;top-level-menu-item">-->
<!--          <a class="media u-side-nav&#45;&#45;top-level-menu-link u-side-nav&#45;&#45;hide-on-hidden g-px-15 g-py-12" href="../metrics/metrics.html">-->
<!--              <span class="d-flex align-self-center g-pos-rel g-font-size-18 g-mr-18">-->
<!--      <i class="hs-admin-pie-chart"></i>-->
<!--    </span>-->
<!--            <span class="media-body align-self-center">Metrics</span>-->
<!--          </a>-->
<!--        </li>-->
<!--        <li class="u-sidebar-navigation-v1-menu-item u-side-nav&#45;&#45;has-sub-menu u-side-nav&#45;&#45;top-level-menu-item">-->
<!--          <a class="media u-side-nav&#45;&#45;top-level-menu-link u-side-nav&#45;&#45;hide-on-hidden g-px-15 g-py-12" href="#" data-hssm-target="#subMenu5">-->
<!--              <span class="d-flex align-self-center g-pos-rel g-font-size-18 g-mr-18">-->
<!--      <i class="hs-admin-infinite"></i>-->
<!--    </span>-->
<!--            <span class="media-body align-self-center">UI Components</span>-->
<!--            <span class="d-flex align-self-center u-side-nav&#45;&#45;control-icon">-->
<!--      <i class="hs-admin-angle-right"></i>-->
<!--    </span>-->
<!--            <span class="u-side-nav&#45;&#45;has-sub-menu__indicator"></span>-->
<!--          </a>-->

<!--          <ul id="subMenu5" class="u-sidebar-navigation-v1-menu u-side-nav&#45;&#45;second-level-menu mb-0">-->
<!--            <li class="u-sidebar-navigation-v1-menu-item u-side-nav&#45;&#45;second-level-menu-item">-->
<!--              <a class="media u-side-nav&#45;&#45;second-level-menu-link g-px-15 g-py-12" href="../ui-components/ui-icons.html">-->
<!--                  <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">-->
<!--          <i class="hs-admin-wand"></i>-->
<!--        </span>-->
<!--                <span class="media-body align-self-center">Icons</span>-->
<!--              </a>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </li>-->
<!--        <li class="u-sidebar-navigation-v1-menu-item u-side-nav&#45;&#45;top-level-menu-item">-->
<!--          <a class="media u-side-nav&#45;&#45;top-level-menu-link u-side-nav&#45;&#45;hide-on-hidden g-px-15 g-py-12" href="../pages/pages-timeline.html">-->
<!--              <span class="d-flex align-self-center g-pos-rel g-font-size-18 g-mr-18">-->
<!--      <span class="u-badge-v2&#45;&#45;xs u-badge&#45;&#45;bottom-right g-bg-secondary"></span>-->
<!--              <i class="hs-admin-timer"></i>-->
<!--              </span>-->
<!--            <span class="media-body align-self-center">Timeline History</span>-->
<!--            <span class="d-flex align-self-center">-->
<!--      <span class="d-inline-block text-center g-min-width-35 g-bg-secondary g-font-size-12 g-color-white g-rounded-15 g-px-8 g-py-1">5</span>-->
<!--              </span>-->
<!--          </a>-->
<!--        </li>-->
<!--        <li class="u-sidebar-navigation-v1-menu-item u-side-nav&#45;&#45;has-sub-menu u-side-nav&#45;&#45;top-level-menu-item">-->
<!--          <a class="media u-side-nav&#45;&#45;top-level-menu-link u-side-nav&#45;&#45;hide-on-hidden g-px-15 g-py-12" href="#" data-hssm-target="#subMenuLevels1">-->
<!--              <span class="d-flex align-self-center g-pos-rel g-font-size-18 g-mr-18">-->
<!--      <i class="hs-admin-list-ol"></i>-->
<!--    </span>-->
<!--            <span class="media-body align-self-center">Menu Levels</span>-->
<!--            <span class="d-flex align-self-center u-side-nav&#45;&#45;control-icon">-->
<!--      <i class="hs-admin-angle-right"></i>-->
<!--    </span>-->
<!--            <span class="u-side-nav&#45;&#45;has-sub-menu__indicator"></span>-->
<!--          </a>-->
<!--          <ul id="subMenuLevels1" class="u-sidebar-navigation-v1-menu u-side-nav&#45;&#45;second-level-menu mb-0">-->
<!--            <li class="u-sidebar-navigation-v1-menu-item u-side-nav&#45;&#45;second-level-menu-item">-->
<!--              <a class="media u-side-nav&#45;&#45;second-level-menu-link g-px-15 g-py-12" href="#">-->
<!--                  <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">-->
<!--          <i class="hs-admin-list"></i>-->
<!--        </span>-->
<!--                <span class="media-body align-self-center">Sub Level 2</span>-->
<!--              </a>-->
<!--            </li>-->
<!--            <li class="u-sidebar-navigation-v1-menu-item u-side-nav&#45;&#45;has-sub-menu u-side-nav&#45;&#45;second-level-menu-item">-->
<!--              <a class="media u-side-nav&#45;&#45;second-level-menu-link g-px-15 g-py-12" href="#" data-hssm-target="#subMenuLevels2">-->
<!--                  <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">-->
<!--          <i class="hs-admin-list"></i>-->
<!--        </span>-->
<!--                <span class="media-body align-self-center">Sub Level 2</span>-->
<!--                <span class="d-flex align-self-center u-side-nav&#45;&#45;control-icon">-->
<!--          <i class="hs-admin-angle-right"></i>-->
<!--        </span>-->
<!--              </a>-->
<!--              <ul id="subMenuLevels2" class="u-side-nav&#45;&#45;third-level-menu">-->
<!--                <li class="u-side-nav&#45;&#45;third-level-menu-item u-side-nav&#45;&#45;has-sub-menu">-->
<!--                  <a class="media d-flex u-side-nav&#45;&#45;third-level-menu-link u-side-nav&#45;&#45;hide-on-hidden g-pl-8 g-pr-15 g-py-6" href="#" data-hssm-target="#subMenuLevels3">-->
<!--                    <span class="media-body align-self-center">Sub Level 3</span>-->
<!--                    <span class="d-flex align-self-center u-side-nav&#45;&#45;control-icon">-->
<!--              <i class="hs-admin-angle-right"></i>-->
<!--            </span>-->
<!--                  </a>-->

<!--                  <ul id="subMenuLevels3" class="u-side-nav&#45;&#45;fourth-level-menu">-->
<!--                    <li class="u-side-nav&#45;&#45;fourth-level-menu-item">-->
<!--                      <a class="u-side-nav&#45;&#45;fourth-level-menu-link g-px-15 g-py-6" href="#">-->
<!--                        <span class="media-body align-self-center">Sub Level 4</span>-->
<!--                      </a>-->
<!--                    </li>-->
<!--                    <li class="u-side-nav&#45;&#45;fourth-level-menu-item">-->
<!--                      <a class="u-side-nav&#45;&#45;fourth-level-menu-link g-px-15 g-py-6" href="#">-->
<!--                        <span class="media-body align-self-center">Sub Level 4</span>-->
<!--                      </a>-->
<!--                    </li>-->
<!--                    <li class="u-side-nav&#45;&#45;fourth-level-menu-item">-->
<!--                      <a class="u-side-nav&#45;&#45;fourth-level-menu-link g-px-15 g-py-6" href="#">-->
<!--                        <span class="media-body align-self-center">Sub Level 4</span>-->
<!--                      </a>-->
<!--                    </li>-->
<!--                  </ul>-->
<!--                </li>-->
<!--                <li class="u-side-nav&#45;&#45;third-level-menu-item">-->
<!--                  <a class="u-side-nav&#45;&#45;third-level-menu-link u-side-nav&#45;&#45;hide-on-hidden g-pl-8 g-pr-15 g-py-6" href="#">Sub Level 3</a>-->
<!--                </li>-->
<!--              </ul>-->
<!--            </li>-->
<!--            <li class="u-sidebar-navigation-v1-menu-item u-side-nav&#45;&#45;second-level-menu-item">-->
<!--              <a class="media u-side-nav&#45;&#45;second-level-menu-link g-px-15 g-py-12" href="#">-->
<!--                  <span class="d-flex align-self-center g-mr-15 g-mt-minus-1">-->
<!--          <i class="hs-admin-list"></i>-->
<!--        </span>-->
<!--                <span class="media-body align-self-center">Sub Level 2</span>-->
<!--              </a>-->
<!--            </li>-->
<!--          </ul>-->
<!--        </li>-->
<!--        <li class="u-sidebar-navigation-v1-menu-item u-side-nav&#45;&#45;top-level-menu-item">-->
<!--          <a class="media u-side-nav&#45;&#45;top-level-menu-link u-side-nav&#45;&#45;hide-on-hidden g-px-15 g-py-12" href="../packages.html">-->
<!--              <span class="d-flex align-self-center g-font-size-18 g-mr-18">-->
<!--      <i class="hs-admin-medall"></i>-->
<!--    </span>-->
<!--            <span class="media-body align-self-center">Packages</span>-->
<!--          </a>-->
<!--        </li>-->

<!--      </ul>-->
<!--    </div>-->


<!--    <div class="col g-pb-65&#45;&#45;md">-->
<!--      <div class="g-pa-20">-->

<!--      </div>-->
<!--    </div>-->
<!--  </div>-->
<!--</main>-->
<!--<app-footer></app-footer>-->
