<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">

    <mat-toolbar>Acount</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard/profile">Profile</a>
      <a mat-list-item routerLink="/dashboard/account">Account</a>
      <a mat-list-item routerLink="/dashboard/settings">Settings</a>
    </mat-nav-list>
    <mat-toolbar>Dashboard</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard/my-learning">My learning</a>
      <a mat-list-item routerLink="/dashboard/completed">Completed</a>
      <a mat-list-item routerLink="/dashboard/flags">Flags</a>
    </mat-nav-list>
    <mat-toolbar>Tools</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/dashboard/course">Course</a>
      <a mat-list-item routerLink="/dashboard/reports">Reports</a>

      <button class="" (click)="logout()"> Log out</button>

    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>demo</span>
    </mat-toolbar>
    <!-- Add Content Here -->

    <router-outlet></router-outlet>
<!--    <app-my-dashboard></app-my-dashboard>-->

  </mat-sidenav-content>
</mat-sidenav-container>
